#themecolors{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.w150{
    width: 150px;
}

.w-50{
    width: 50px !important;
    border-radius: 50%;
}
.w-70{
    width: 70px;
}

.oculto{
    display: none;
}